[Unit]
Description=Portfolio Site Service

[Service]
ExecStart=/media/goodsie/1tb/repos/portfolio/main/index.mjs
Restart=always
User=nobody
# Note Debian/Ubuntu uses 'nogroup', RHEL/Fedora uses 'nobody'
Group=nogroup
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/media/goodsie/1tb/repos/portfolio

[Install]
WantedBy=multi-user.target