[Unit]
Description=Portfolio Site Service

[Service]
ExecStart=/path/to/file.ext
Restart=always
User=user_with_oermission
# Note Debian/Ubuntu uses 'nogroup', RHEL/Fedora uses 'nobody'
Group=nogroup
Environment=PATH=/usr/bin:/usr/local/bin
# Environment=NODE_ENV=production
WorkingDirectory=/path/

[Install]
WantedBy=multi-user.target