
.contact-info-card,
.contact-form-card {
  background: var(--dark-card-background);
  border-radius: 12px;
  /* padding: 2rem; */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.contact-section-title {
  font-size: 1.5rem;
  color: var(--primary-text);
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.contact-icon {
  color: var(--secondary-blue);
  font-size: 1.2rem;
}

.info-item {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin-bottom: 1.5rem;
  background-color: var(--dark-innerbox);
  border-radius: 8px;
}

.info-title {
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--primary-text);
  margin-bottom: 0.5rem;
}

.info-content {
  margin: 0;
}

.contact-link {
  color: var(--primary-blue);
  text-decoration: none;
  transition: color 0.2s ease;
}

.contact-link a, .contact-link a:visited{
  color: var(--primary-blue);
}

.contact-link:hover {
  /* color: var(--primary-blue); */
  text-decoration: underline;
}

.social-links {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.social-link {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  color: var(--primary-text);
  text-decoration: none;
  transition: color 0.2s ease;
}

.social-link:hover {
  color: var(--primary-blue);
}

.social-icon {
  font-size: 1rem;
  color: var(--primary-blue);
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form-label {
  font-size: 1rem;
  font-weight: 500;
  color: var(--primary-text);
}

.form-input,
.form-textarea {
  width: 100%;
  padding: 0.75rem 1rem;
  border: 1px solid var(--secondary-text);
  border-radius: 8px;
  font-size: 1rem;
  transition: border-color 0.2s ease;
  background-color: var(--dark-innerbox);
  color: var(--primary-text);
}

.form-input:focus,
.form-textarea:focus {
  outline: none;
  border-color: var(--secondary-blue);
  background-color: var(--dark-innerbox);
}

.form-textarea {
  resize: none;
  min-height: 120px;
}

.submit-btn {
  /* align-self: flex-start; */
  padding: 0.75rem 1.5rem;
  font-weight: 600;
  /* transition: all 0.2s ease; */
}

.submit-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
